p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em; /* Adjust as needed */
    line-height: 1.5;
}

h1 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: white;
}

.rounded-box {
  border-radius: 5px;
  background-color: #008446;
  padding: 10px;
}

h1.rounded-box {
  margin-bottom: 0;
}


h2 {
  text-decoration: underline;
}

.hr-top {
    border-width: 10px; /* Change to the desired thickness */
    margin-top: 20px;
    margin-bottom: 20px;
}

.hr-form {
    border-width: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
}

body {
    text-align: center;
    background-color: #113e70;
    height: 100%;
    margin: 0;
    padding: 0;
}

input[type="text"] {
    font-size: 14px; /* Adjust the value as per your preference */
    width: 50%
}

.container {
    min-height: 100vh;
    background-color: #fff; /* Set the background color for the centered content */
}

.container .survey-form {
    flex-grow: 1;
}

.header {
    text-align: center; /* Center the image horizontally */
    display: inline-block; /* Change the image display to inline-block */
    width: 60%;
}

.survey-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    max-width: 80%;
    min-width: 250px;
    margin: 0 auto;
}

.error-message {
    color: red;
    font-size: 20px;
}

.thank-you-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.thank-you-message {
    font-size: 30px;
    margin-bottom: 10px;
}

.error-container {
    background-color: #ffcccc;
    color: #ff0000;
    padding: 10px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    margin-bottom: 10px;
}

.question-container {
    margin-bottom: 10px;
    justify-content: left;
    text-align: left;
}

.radio-button {
    display: inline-block;
    align-items: center;
    justify-content: center; /* Add this line to center the items horizontally */
    margin-bottom: 10px;
    margin-right: 10px;
}

.radio-button input[type="radio"] {
    margin-right: 5px;
}

.radio-button label {
    font-weight: normal;
    font-size: 0.8em; /* Adjust as needed */
}

.radio-button-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.radio-button-group input[type="radio"] {
    display: none;
}

.radio-button-group label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
}

.radio-button-group input[type="radio"]:checked + label {
    background-color: #007bff;
}

.submit-container {
    margin: 50px;
}

/* Custom styling for star-shaped radio buttons */
.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    display: inline-block;
    font-size: 0;
    cursor: pointer;
}

.star-rating label:before {
    content: "\2606";
    font-size: 2.5rem;
    margin-right: 5px;
    color: black; /* Change the color to your desired color */

}

.star-rating input[type="radio"]:checked ~ label:before {
    content: "\2605";
    color: gold; /* Change the color to your desired color */
}

.star-rating input[type="radio"]:checked ~ label ~ label:before {
    content: "\2606";
    color: black; /* Change the color to your desired color */

}

@media (max-width: 576px) {
    .container {
        max-width: 90%;
    }
    .survey-form {
        font-size: 16px;
        padding: 0 15px;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .container {
        max-width: 90%;
    }
    .survey-form {
        font-size: 20px;
        padding: 0 15px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .container {
        max-width: 80%;
    }
    .survey-form {
        font-size: 24px;
        padding: 0 30px;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .container {
        max-width: 70%;
    }
    .survey-form {
        font-size: 28px;
        padding: 0 40px;
    }
}

@media (min-width: 1201px) {
    .container {
        max-width: 60%;
    }
    .survey-form {
        font-size: 32px;
        padding: 0 50px;
    }
}