<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link href="static/mdb.min.css" rel="stylesheet">
        <script src="static/mdb.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Miami Realtors Survey Form</title>
        <link rel="stylesheet" href="static/styles.css">
        <script src="static/listenerScript.js"></script>
    </head>
    <body>
        {% if submitted %}
             <div class="container">
                <div class="thank-you-message">
                    <b>Thank you for completing the survey!<br></b>
                </div>
                 <p>Redirecting...</p>
            </div>
            <script>
                // Redirect after 5 seconds
                setTimeout(function() {
                  window.location.href = 'https://www.miamirealtors.com/'; // Replace with desired URL
                }, 5000); // 5000 milliseconds = 5 seconds
            </script>
        {% else %}
            <div class="container">
                {% if error_message %}
                <div class="error-message error-container">
                    <b>Please answer all questions.</b>
                </div>
                {% endif %}

                <div class="header">
                    <img src="static/images/miamirelogo.png" class="img-fluid" alt="Header Image" />
                </div>

                <h1>Course Evaluation Form</h1>
                <div class="survey-form">
                    <form action="/" method="post">
                        <!-- Hidden Field for identifier -->
                        <input type="hidden" name="identifier" value="{{ identifier }}">

                        <!-- Hidden Field for date -->
                        <input type="hidden" name="date" id="date" value="">

                        <!-- Hidden Field for time -->
                        <input type="hidden" name="time" id="time" value="">

                        <hr class="hr-top">

                        <h2>A. Course Evaluation</h2>
                        <hr class="hr-top">
                        <div class="star-rating">
                            <p class="question">1. Instructions regarding the rules on attendance, break, etc. were
                                clearly stated at the beginning of the course.</p>
                            <input type="radio" id="q1rating1" name="question1" value="1" {% if question1 == '1' %}checked{% endif %}>
                            <label for="q1rating1"></label>
                            <input type="radio" id="q1rating2" name="question1" value="2" {% if question1 == '2' %}checked{% endif %}>
                            <label for="q1rating2"></label>
                            <input type="radio" id="q1rating3" name="question1" value="3" {% if question1 == '3' %}checked{% endif %}>
                            <label for="q1rating3"></label>
                            <input type="radio" id="q1rating4" name="question1" value="4" {% if question1 == '4' %}checked{% endif %}>
                            <label for="q1rating4"></label>
                            <input type="radio" id="q1rating5" name="question1" value="5" {% if question1 == '5' %}checked{% endif %}>
                            <label for="q1rating5"></label>
                        </div>
                        {% if error_message and not question1 %}
                            <p class="error-message error-container">{{ error_message }}</p>
                        {% endif %}
                        <hr class ="hr-form">


                        <!-- Add more questions and input fields as needed -->
                        <div class="star-rating">
                            <p class="question">2. This course met my expectations.</p>
                            <input type="radio" id="q2rating1" name="question2" value="1" {% if question2 == '1' %}checked{% endif %}>
                            <label for="q2rating1"></label>
                            <input type="radio" id="q2rating2" name="question2" value="2" {% if question2 == '2' %}checked{% endif %}>
                            <label for="q2rating2"></label>
                            <input type="radio" id="q2rating3" name="question2" value="3" {% if question2 == '3' %}checked{% endif %}>
                            <label for="q2rating3"></label>
                            <input type="radio" id="q2rating4" name="question2" value="4" {% if question2 == '4' %}checked{% endif %}>
                            <label for="q2rating4"></label>
                            <input type="radio" id="q2rating5" name="question2" value="5" {% if question2 == '5' %}checked{% endif %}>
                            <label for="q2rating5"></label>
                        </div>
                        {% if error_message and not question2 %}
                            <p class="error-message error-container">{{ error_message }}</p>
                        {% endif %}
                        <hr class ="hr-form">

                        <div class="star-rating">
                            <p class="question">3. This course fulfilled its stated objectives.</p>
                            <input type="radio" id="q3rating1" name="question3" value="1" {% if question3 == '1' %}checked{% endif %}>
                            <label for="q3rating1"></label>
                            <input type="radio" id="q3rating2" name="question3" value="2" {% if question3 == '2' %}checked{% endif %}>
                            <label for="q3rating2"></label>
                            <input type="radio" id="q3rating3" name="question3" value="3" {% if question3 == '3' %}checked{% endif %}>
                            <label for="q3rating3"></label>
                            <input type="radio" id="q3rating4" name="question3" value="4" {% if question3 == '4' %}checked{% endif %}>
                            <label for="q3rating4"></label>
                            <input type="radio" id="q3rating5" name="question3" value="5" {% if question3 == '5' %}checked{% endif %}>
                            <label for="q3rating5"></label>
                        </div>
                        {% if error_message and not question3 %}
                            <p class="error-message error-container">{{ error_message }}</p>
                        {% endif %}
                        <hr class ="hr-form">

                        <div class="star-rating">
                            <p class="question">4. This course fulfilled its stated objectives.</p>
                            <input type="radio" id="q4rating1" name="question4" value="1" {% if question4 == '1' %}checked{% endif %}>
                            <label for="q4rating1"></label>
                            <input type="radio" id="q4rating2" name="question4" value="2" {% if question4 == '2' %}checked{% endif %}>
                            <label for="q4rating2"></label>
                            <input type="radio" id="q4rating3" name="question4" value="3" {% if question4 == '3' %}checked{% endif %}>
                            <label for="q4rating3"></label>
                            <input type="radio" id="q4rating4" name="question4" value="4" {% if question4 == '4' %}checked{% endif %}>
                            <label for="q4rating4"></label>
                            <input type="radio" id="q4rating5" name="question4" value="5" {% if question4 == '5' %}checked{% endif %}>
                            <label for="q4rating5"></label>
                        </div>
                        {% if error_message and not question4 %}
                            <p class="error-message error-container">{{ error_message }}</p>
                        {% endif %}
                        <hr class ="hr-form">

                        <div>
                            <p class="question">5. Did the course require more time than given?</p>
                            <div>
                                <div class="radio-button">
                                    <input type="radio" id="q5-yes" name="question5" value="1" {% if question5 == '1' %}checked{% endif %}>
                                    <label for="q5-yes">Yes</label>
                                </div>
                                <div class="radio-button">
                                    <input type="radio" id="q5-no" name="question5" value="5" {% if question5 == '5' %}checked{% endif %}>
                                    <label for="q5-no">No</label>
                                </div>
                            </div>
                        </div>
                        {% if error_message and not question5 %}
                            <p class="error-message error-container">{{ error_message }}</p>
                        {% endif %}

                        <hr class="hr-top">
                        <h2>B. Please rate the instructor on the following</h2>
                        <hr class="hr-top">

                        <div class="star-rating">
                            <p class="question">6. In-depth knowledge of the subject.</p>
                            <input type="radio" id="q6rating1" name="question6" value="1" {% if question6 == '1' %}checked{% endif %}>
                            <label for="q6rating1"></label>
                            <input type="radio" id="q6rating2" name="question6" value="2" {% if question6 == '2' %}checked{% endif %}>
                            <label for="q6rating2"></label>
                            <input type="radio" id="q6rating3" name="question6" value="3" {% if question6 == '3' %}checked{% endif %}>
                            <label for="q6rating3"></label>
                            <input type="radio" id="q6rating4" name="question6" value="4" {% if question6 == '4' %}checked{% endif %}>
                            <label for="q6rating4"></label>
                            <input type="radio" id="q6rating5" name="question6" value="5" {% if question6 == '5' %}checked{% endif %}>
                            <label for="q6rating5"></label>
                        </div>
                        {% if error_message and not question6 %}
                            <p class="error-message error-container">{{ error_message }}</p>
                        {% endif %}

                        <hr class ="hr-form">

                        <div class="star-rating">
                            <p class="question">7. Overall evaluation of the instructor.</p>
                            <input type="radio" id="q7rating1" name="question7" value="1" {% if question7 == '1' %}checked{% endif %}>
                            <label for="q7rating1"></label>
                            <input type="radio" id="q7rating2" name="question7" value="2" {% if question7 == '2' %}checked{% endif %}>
                            <label for="q7rating2"></label>
                            <input type="radio" id="q7rating3" name="question7" value="3" {% if question7 == '3' %}checked{% endif %}>
                            <label for="q7rating3"></label>
                            <input type="radio" id="q7rating4" name="question7" value="4" {% if question7 == '4' %}checked{% endif %}>
                            <label for="q7rating4"></label>
                            <input type="radio" id="q7rating5" name="question7" value="5" {% if question7 == '5' %}checked{% endif %}>
                            <label for="q7rating5"></label>
                        </div>
                        {% if error_message and not question7 %}
                            <p class="error-message error-container">{{ error_message }}</p>
                        {% endif %}

                        <hr class ="hr-form">

                        <div class="star-rating">
                            <p class="question">8. Instructor was professional and well-prepared for the course.</p>
                            <input type="radio" id="q8rating1" name="question8" value="1" {% if question8 == '1' %}checked{% endif %}>
                            <label for="q8rating1"></label>
                            <input type="radio" id="q8rating2" name="question8" value="2" {% if question8 == '2' %}checked{% endif %}>
                            <label for="q8rating2"></label>
                            <input type="radio" id="q8rating3" name="question8" value="3" {% if question8 == '3' %}checked{% endif %}>
                            <label for="q8rating3"></label>
                            <input type="radio" id="q8rating4" name="question8" value="4" {% if question8 == '4' %}checked{% endif %}>
                            <label for="q8rating4"></label>
                            <input type="radio" id="q8rating5" name="question8" value="5" {% if question8 == '5' %}checked{% endif %}>
                            <label for="q8rating5"></label>
                        </div>
                        {% if error_message and not question8 %}
                            <p class="error-message error-container">{{ error_message }}</p>
                        {% endif %}

                        <hr class ="hr-form">

                        <p class="question">9. Was the instructor completely neutral about his/her affiliation
                        with a company, proprietary school, etc.?</p>
                        <div>
                            <div class="radio-button">
                                <input type="radio" id="q9-yes" name="question9" value="5" {% if question9 == '5' %}checked{% endif %}>
                                <label for="q9-yes">Yes</label>
                            </div>
                            <div class="radio-button">
                                <input type="radio" id="q9-no" name="question9" value="1" {% if question9 == '1' %}checked{% endif %}>
                                <label for="q9-no">No</label>
                            </div>
                        </div>
                        {% if error_message and not question9 %}
                            <p class="error-message error-container">{{ error_message }}</p>
                        {% endif %}

                        <hr class="hr-top">
                        <h2>C. Comments/Suggestions</h2>
                        <hr class="hr-top">

                        <div>
                            <p class="question">10. Would you recommend this course to a person considering this program?
                            If yes, please explain why.</p>
                            <div>
                                <label for="question10"></label>
                                <textarea id="question10" name="question10"
                                          style="font-size: 14px; width: 80%; height: 100px">{{ question10 }}</textarea>
                            </div>
                        </div>
                        {% if error_message and not question10 %}
                            <p class="error-message error-container">{{ error_message }}</p>
                        {% endif %}

                        <hr class ="hr-form">

                        <div>
                            <p class="question">11. What is the most important thing you will utilize from this class?
                            Please explain why.</p>
                            <div>
                                <label for="question11"></label>
                                <textarea id="question11" name="question11"
                                          style="font-size: 14px; width: 80%; height: 100px">{{ question11 }}</textarea>
                            </div>
                        </div>
                        {% if error_message and not question11 %}
                            <p class="error-message error-container">{{ error_message }}</p>
                        {% endif %}

                        <hr class ="hr-form">

                        <div>
                            <p class="question">12. How did you hear about this class?</p>
                            <div>
                                <label for="question12"></label>
                                <textarea id="question12" name="question12"
                                          style="font-size: 14px; width: 80%; height: 100px">{{ question12 }}</textarea>
                            </div>
                        </div>
                        {% if error_message and not question12 %}
                            <p class="error-message error-container">{{ error_message }}</p>
                        {% endif %}

                        <hr class="hr-top">
                        <div>
                            <label>
                                <input type="checkbox" name="agreement">
                                I authorize the MIAMI REALTORS® to utilize my comments as testimonials.
                            </label>
                        </div>
                        <hr class="hr-top">

                        <!-- Submit Button -->
                        <div class="submit-container">
                            <button type="submit" class="btn btn-success btn-lg btn-rounded mb-4 mb-md-0">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        {% endif %}

        <script src="static/dateTimeScript.js"></script>

    </body>
</html>
